Polygon/menu.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--W3C Schema generated by XMLSpy v2007 rel. 3 sp1 (http://www.altova.com)-->
<!--Please add namespace attributes, a targetNamespace attribute and import elements according to your requirements-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:import namespace="http://www.w3.org/XML/1998/namespace"/>
	<xs:element name="MENU">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="FORMAT"/>
				<xs:element ref="FIELDS"/>
				<xs:element ref="CLUTTERS"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="FORMAT">
		<xs:complexType>
			<xs:attribute name="NAME" type="xs:anySimpleType" default="shape"/>
			<xs:attribute name="VERSION" type="xs:anySimpleType" default="1.0"/>
			<xs:attribute name="TYPE">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="raster"/>
						<xs:enumeration value="vector"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="FIELDS">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="FIELD" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="FIELD">
		<xs:complexType>
			<xs:attribute name="NAME" type="xs:anySimpleType" use="required"/>
			<xs:attribute name="MATCHES" type="xs:anySimpleType"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="CLUTTERS">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CLUTTER" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CLUTTER">
		<xs:complexType>
			<xs:attribute name="ID" type="xs:integer" use="required"/>
			<xs:attribute name="NAME" type="xs:anySimpleType" use="required"/>
			<xs:attribute name="TYPE" type="xs:anySimpleType"/>
			<xs:attribute name="ATTENUATION" type="xs:anySimpleType"/>
			<xs:attribute name="HEIGHT" type="xs:anySimpleType"/>
			<xs:attribute name="LINEARLOSS" type="xs:anySimpleType"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
